html, body {
  font-family:Spectral Sc;
}
/*--------
nav bar 
----------*/

#Logo {
  font-size: 150%;
  margin: 3px;
  padding: 4px 0;
  line-height: 1;
  font-weight: 700;
  font-family: Staatliches;
  text-align: center;
  letter-spacing:2px;
  color:#e82d00;
}

.navbar{
  background:#000;
}

.navbar .navbar-collapse {
  text-align: center; 
}

.navbar.navbar-custom .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=e82d00');
}

@media screen and (min-width:768px){
  .navbar-toggler-icon{
    font-size:200%;
  }
}

navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-nav a:hover, a:focus{
  background:#ff7f50;
  text-transform: uppercase;
  transition: 1s ease-out;
  color:#fff;
}

.navbar .navbar-nav .nav-link {
  font-size:100%;
  font-family: Oswald;
}
@media screen and (min-height: 1024px){
  .navbar .navbar-nav .nav-link {
    font-size:150%;
  }
  #Logo {
    font-size: 300%;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 768px){
  .navbar .navbar-nav .nav-link {
    font-size:150%;
  }
  #Logo {
    font-size: 300%;
    letter-spacing: 4px;
  }
}

.icon {
  color:#e82d00;
}

/* flickty carousel */
.carousel {
  background: #fff;
  margin-top: 1%;
}

.carousel img {
  display: block;
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.caption {
  background: #fff;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 100%;
  color:#e82d00;
  font-style: oblique;
  font-weight:600;
}

.flickity-page-dots {
  bottom: -60px;
}

.flickity-page-dots {
  bottom: -60px;
}

.flickity-button:focus {  
  outline: none; 
  box-shadow: 0 0 0 5px #19F;
}

.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #fff;
}

.flickity-page-dots .dot.is-selected {
  background: #e82d00;
}

@media screen and ( min-height: 1024px ) {
  .carousel img {
    height: 500px;
    border-radius:10px;
  }
  .caption{
    font-size:200%;
  }
  .flickity-button{
    font-size:200%;
  } 
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 500px;
    border-radius:10px;
  }
  .caption{
    font-size:200%;
  }
  .flickity-button{
    font-size:200%;
  } 
}

/*------
marquee
------*/
marquee {
 height: 30px;	
 overflow: hidden;
 position: relative;
 background: #000;
 color: #fff;
 border: 2px solid #fff;
 text-align:center;
 line-height: 30px;
 font-family: Oswald;
 font-size:100%;
}

@media screen and (min-height:1024px){
  marquee {
    height:60px;
    line-height: 60px;
    font-size:200%;
  }
}

@media screen and (min-width: 768px){
  marquee {
    height:60px;
    line-height: 60px;
    font-size:200%;
  }
}

/*----------
 breadcrumb 
------------*/
.breadcrumb > li + li:before {
    content: ">>" !important;
    padding: 0 5px;
}

/*---
lines
----*/
hr.line {
  border:4px solid #e82d00;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius: 5px;
}   

hr.line1 {
  border:2px solid #e82d00;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius: 2px;
}   

.outline { 
  margin-top:2px;
  padding-left:2px;
  padding-right:2px;
  border:2px solid #e82d00; 
  border-radius: 2px; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -o-border-radius: 2px;
}


/*--------
programmes 
----------*/

.programmes-info {
  border: 1px solid #e82d00;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius: 5px;
  margin-top: 70px;
  padding-bottom: 10px;
  text-align: center;
}
.programmes-info img {
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius: 5px;
  height: 100px;
  margin: -50px 0 20px 0;
  vertical-align: top;
}

.programmes p {
  font-family:Oswald;
  font-size:100%;
}

.programmes h1 {
  margin-top:0;
  font-size:150%;
  font-family: Spectral SC;
  color:#21413c;
  font-weight:600;
}

.programmes h2, h5{
  font-size:150%;
  color:#21413c;
  font-weight:500;
}

.programmes a:hover{
  text-decoration: none;
  background:#ff7f50;
  color:#fff;
}

.img-design {
  padding-left:10px;
  padding-right:10px;
}

.img-design > h5, p {
  text-align: left;
}

.btn{ 
  background-color: #e82d00;
  color:#fff;
  font-size:100%;
}
.btn:hover, .btn:focus, .btn.active {
  background: #ff7f50;
  color: #fff;
		-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		-webkit-transition: all 250ms ease-in-out 0s;
		-moz-transition: all 250ms ease-in-out 0s;
		-ms-transition: all 250ms ease-in-out 0s;
		-o-transition: all 250ms ease-in-out 0s;
		transition: all 250ms ease-in-out 0s;
}

@media screen and (min-height:1024px){
  .programmes h1,h5 {
    font-size:300%;
  }
  .programmes h2 {
    padding-bottom:5%;
    margin-top:2%;
    font-size:300%;
  }
  .programmes a {
    font-size:200%;
  }
  .programmes-info img {
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    height:200px;
    margin: -100px 0 40px 0;
  }
  .programmes p {
    font-size:200%;
  }
  .btn{
    font-size:200%;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .programmes h1,h5 {
    font-size:300%;
  }
  .programmes h2 {
    padding-bottom:5%;
    margin-top:2%;
    font-size:300%;
  }
  .programmes a {
    font-size:200%;
  }
  .programmes-info img {
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    height:200px;
    margin: -100px 0 40px 0;
  }
  .programmes p {
    font-size:200%;
  }
  .btn{
    font-size:200%;
    text-align: center;
  }
}

/*------
contact
-------*/
.contact .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 100%;
  color: #e82d00;
  float: left;
  width: 44px;
  height: 44px;
  background:bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 5px;
  color: #21413c;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 100%;
  color: #e82d00;
  font-family: Oswald;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: coral;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  margin-top:-30px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 100%;
  font-family: Oswald;
  text-transform: uppercase;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #e82d00;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #coral;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 1024px){
  .contact .php-email-form input, .contact .php-email-form textarea {
				font-size:150%;
  }
  .contact .info i {
    font-size:200%;
    width:88px;
    height:88px;
  }
  .contact .info h4 {
    font-size:300%;
    padding: 0 0 0 120px;
  }
  .contact .info p {
    font-size:200%;
    padding:0 0 0 120px;
  }
  .contact .php-email-form .validate {
    font-size:200%;
  }
}

@media screen and (min-width: 768px){
  .contact .php-email-form input, .contact .php-email-form textarea {
				font-size:150%;
  }
  .contact .info i {
    font-size:200%;
    width:88px;
    height:88px;
  }
  .contact .info h4 {
    font-size:300%;
    padding: 0 0 0 120px;
  }
  .contact .info p {
    font-size:200%;
    padding:0 0 0 120px;
  }
  .contact .php-email-form .validate {
    font-size:200%;
  }
}

/*-----
footer
------*/
footer {
  margin-top:2%;
}

.footer-copyright {
  background: #000; 
  padding: 5px 0;
}

.footer-copyright p { 
  color: #fff;
  margin: 2px 0 0;
  font-size:100%;
}

#footer .social-links a {
  font-size: 100%;
  display: inline-block;
  line-height: 1;
  padding-top:10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .facebook {
  color: #4267b2;
}

#footer .twitter {
  color:#00acee;
}
#footer .instagram {
  color:#405de6;
}

#footer .social-links a:hover {
  background: #ff7f50;
  text-decoration: none;
  color:#fff;
}

@media screen and (min-height:1024px){
  #footer .social-links a{
    font-size:200%;
    width:72px;
    height:72px;
    padding-top:20px;
  }
  .footer-copyright p {
    font-size:150%;
  }
}

@media screen and (min-width: 768px){
  #footer .social-links a{
    font-size:200%;
    width:72px;
    height:72px;
    padding-top:20px;
  }
  .footer-copyright p {
    font-size:150%;
  }
}


/*---------
primary nav
----------*/
.PrimaryNav {
  list-style: none;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.Nav-item {
  background: #fff;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
}
.Nav-item:first-child {
  border-radius: 3px 0 0 3px;
}
.Nav-item:last-child {
  border-radius: 0 3px 3px 0;
}
.Nav-item.is-active a {
  opacity:1;
  color:#e82d00;
}
.Nav-item a {
  color: #121212;
  display: inline;
  padding-top: 5px;
  padding-bottom: 0;
  text-decoration: none;
  font-size: small;
  opacity:0.5;
  font-family: Oswald;
}

.Nav-item a:hover {
  text-transform: uppercase;
  transition: 1s ease-out;
  opacity: 1;
  color:#fff;
}

.with-indicator {
  position: relative;
  z-index: 0;
}
.with-indicator .Nav-item:last-child:before, .with-indicator .Nav-item:last-child:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-transition: left 1.3s ease;
  transition: left 1.3s ease;
}
.with-indicator .Nav-item:last-child:before {
  border: 6px solid transparent;
  border-top-color: #e82d00;
  width: 0;
  height: 0;
  top: 0;
  left: 10%;
  margin-left: -3px;
}
.with-indicator .Nav-item:last-child:after {
  background: #e82d00;
  top: -6px;
  bottom: -6px;
  left: 0;
  width: 20%;
  z-index: -1;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:after {
  left: 0%;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:before {
  left: 10%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:after {
  left: 20%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:before {
  left: 30%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:after {
  left: 40%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:before {
  left: 50%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:after {
  left: 60%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:before {
  left: 70%;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:after {
  left: 0% !important;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:before {
  left: 10% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:after {
  left: 20% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:before {
  left: 30% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:after {
  left: 40% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:before {
  left: 50% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:after {
  left: 60% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:before {
  left: 70% !important;
}
.with-indicator .Nav-item:last-child:hover:before, .with-indicator .Nav-item:last-child.is-active:before {
  left: 90% !important;
}
.with-indicator .Nav-item:last-child:hover:after, .with-indicator .Nav-item:last-child.is-active:after {
  left: 80% !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.PrimaryNav:before,
.PrimaryNav:after {
  content: " ";
  display: table;
}

.PrimaryNav:after {
  clear: both;
}

.toggle {
  color: #fff;
  font-family: Oswald;
  text-align: center;
}

@media screen and (min-height: 1024px){
  .Nav-item a {
  		text-decoration: none;
   font-size: 150%;
   margin-top:1%;
   padding-top:1%;
		}
  .icon {
    font-size:150%;
  }
}

@media screen and (min-width: 768px){
  .Nav-item a {
 		 display: inline;
  		text-decoration: none;
    font-size: 150%;
		}
  .icon {
    font-size:150%;
  }
}


// How many menu items do we have?
$menu-items: 5;

// Colours
$background-color: #121212;
$indicator-color: #e82d00;

// Transition Speed
$transition-speed: 1.3s;

// Dynamic Variables
$width: (100/$menu-items) * 1%; // makes each item the right size
$menu-items-loop-offset: $menu-items - 1; // the number of items in the menu


// ======================================================
// Step 1 - Making a Fixed Width Navigation
// ======================================================

.PrimaryNav {
  @extend %cf; // clear the floats
  list-style: none;
  margin: 50px auto;
  max-width: 720px; // As all measurements are using % this could be a flexible value.
  padding: 0;
  width: 100%;
}

.Nav-item {
  background: #fff;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: $width; //dynamic width
  text-align: center;

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &.is-active a {
    color: $indicator-color;
  }

  a {
    color: $background-color;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover {
      color: $indicator-color;
    }
  }
}


// ======================================================
// Step 2 - Making the pseudo indicator
// ======================================================

.with-indicator {
  position: relative;// the menu is "relative" to the absolute position last-child pseudo elements.
  z-index: 0;

  .Nav-item {
    // ======================================================
    // Step 2.1 - Making the indicator with the pseudo element.
    // ======================================================
    &:last-child {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        transition: left #{$transition-speed} ease;
      }
      // Making the top CSS Triangle - learn more: https://css-tricks.com/animation-css-triangles-work/
      &:before {
        border: 6px solid transparent;
        border-top-color: $indicator-color;
        width: 0;
        height: 0;
        top: 0;
        left: ($width/2);
        margin-left: -3px;
      }
      &:after {
        background: $indicator-color;
        top: -6px;
        bottom: -6px;
        left: 0;
        width: $width;
        z-index: -1;
      }


    }

  }

  @for $i from 1 through $menu-items-loop-offset {
    // when the Nav item "is active", make the indicator line up with the navigation item.
    .Nav-item:nth-child(#{$i}).is-active ~ .Nav-item:last-child:after {
      left:($width*$i)-$width;
    }
    .Nav-item:nth-child(#{$i}).is-active ~ .Nav-item:last-child:before
    {
      left:($width*$i)+($width/2)-$width; // this ensures the triangle lines up to the menu.
    }
}

// ======================================================
// Step 3 - Making it move
// ======================================================

    // This could be in the same loop as the above but for the tutorial steps it's not
    @for $i from 1 through $menu-items-loop-offset {
    // We have to use !important to make the hovers overide if the last:child is the active or hovered
    .Nav-item:nth-child(#{$i}):hover ~ .Nav-item:last-child:after {
      left:($width*$i)-$width !important;
    }

    .Nav-item:nth-child(#{$i}):hover ~ .Nav-item:last-child:before{
      left:($width*$i)+($width/2)-$width !important;
    }
      
  }
    
    // this could be nested in the original .Nav-item
    .Nav-item {
        &:last-child {
          // make sure the last-child talks to itself
          &:hover, &.is-active {
            &:before {
             // we have to use important because the sibling selctor is more specific.
              left: (100%-$width)+($width/2) !important;
            }
            &:after{
              left: 100%-$width !important;
            }
          }        
        }
    }

}


// ======================================================
// The usual Global resets
// ======================================================

*, *:before, *:after {
  box-sizing: border-box; // learn more: https://css-tricks.com/box-sizing/
}

// Extending the https://css-tricks.com/micro-clearfix/
%cf:before,
%cf:after {
    content: " ";
    display: table;
}
%cf:after {
    clear: both;
}

// Presentation Styling

.toggle {
    color: #fff;
    font-family:Oswald;
    text-align: center;
}

